.paginator {
  margin: 20px;
}
.pageNumber {
  margin: auto;
  padding: 15px;
  border: 1px solid white;
}

.pageNumber.selectedPage {

  font-weight: bold;
  border-color: white;
}
#color{color:#EEEEEE;}

