.header img {
    width: 100px;
    padding: 15px;
    margin-left: 400px;
}

.header {
    grid-area: h;
    background-color: #4d5155;
    ;
   
}
a{text-decoration: none;
color: white;}
.loginBlock{
    float:right;
width: 300px;

}
