
.nav {
    grid-area: n;
    background-color:yellow;
    padding: 20px;
    border-radius: 1px;
}

.item a {
    color: #00bfff;
    text-decoration: none;
    text-align: center;
  margin-top: 10px;
}
.item a.activeLink{
    color: #00bfff;
  

}
.frends{
    text-align: center;

}
.frends a{
    text-decoration: none;
    color:#00bfff;

}
.frends a.activeLink {
    color: #00bfff;

}
.gif{
    width: 50px;
    height: 50px;
    border-radius: 50px;}
.fred{

}