
.nav {
    grid-area: n;
    background-color: #C48754;
    padding: 20px;
    border-radius: 1px;
}

.item a {
    color: white;
    text-decoration: none;
    text-align: center;
  margin-top: 10px;
}
.item a.activeLink{
    color: gold;
    width: 10000px;

}
.frends{
    text-align: center;

}
.frends a{
    text-decoration: none;
    color:white;

}
.frends a.activeLink {
    color: gold;

}
.gif{
    width: 50px;
    height: 50px;
    border-radius: 50px;}
.fred{

}