
.nav {
    grid-area: n;
    background-color: #C48754;
    padding: 20px;
    border-radius: 1px;
}

.item a {
    color: white;
    text-decoration: none;
    text-align: center;
  margin-top: 10px;
}
.item a.activeLink{
    color: gold;
    width: 10000px;

}