.dialogs {

    display: grid;
    grid-template-columns: 2fr 10fr;
}

.mesagges {
    padding: 10px;
    text-align: center;
}

.mesagge {
}

.item a {
    padding: 10px;
    text-decoration: none;
    color: red;
}

.dialogsItem {
    padding: 10px;
}